@mixin header() {
    height: 90px;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-size: 40px;
    text-align: left;
    white-space: nowrap;
}

@mixin main() {
    width:  100%;
    height: 860px; // サイドバーの高さに合わせている。後で書き方を修正する
    overflow-x: auto;
}